<app-header></app-header>
<section class="flex flex-col md:flex-row justify-center items-center md:items-start py-10 gap-12">
  <div>
    <img class="max-w-xs w-96 rounded-lg" src="{{ pelicula.poster }}" />
  </div>
  <div class="w-full md:w-1/2 mt-5 flex flex-col gap-3 px-6">
    <h1 class="text-2xl font-bold">{{ pelicula.nombre }}</h1>
    <h1 class="text-2xl font-bold">{{ pelicula.anio }}</h1>
    <p>{{ pelicula.descripcion }}</p>
  </div>
</section>
<section class="flex flex-col justify-center items-center py-10 gap-12">
  <div class="w-10/12" *ngIf="usuario!=null; else noLogin">
  <form action="" class="w-full" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="relative z-0 w-full mb-6 group">
      <input type="text" name="comentario" id="comentario" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required ngModel />
      <label for="comentario" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Comentario...</label>
  </div>
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Comentar</button>

  </form>
</div>
<ng-template #noLogin><a class="text-blue-600 hover:underline " routerLink="/login">INICIE SESION PARA PODER COMENTAR</a></ng-template>

      <div class="w-10/12 divide-y" *ngIf="pelicula.comments.length > 0; else noComments">
      <div class="flex w-full" *ngFor="let comentario of pelicula.comments">
        <img
          class="rounded-[50%] object-cover w-20 h-20 p-4"
          src="{{comentario.usuarioPfp}}"
          alt=""
        />
        <div class="flex flex-col justify-center">
          <h1 class="font-extrabold">{{comentario.usuarioBean}}</h1>
          <h1 class="font-thin">{{comentario.comentario}}</h1>
        </div>
      </div>
  </div>
 <ng-template #noComments>NO HAY COMENTARIOS</ng-template>


</section>
