.contenedor{
  display: flex;
  justify-content: center;

}


.peliculas{
  margin-top: 50px;
  width: 900px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      200px,
      1fr
    )
  )

}

img{
  max-width: 200px;
  height: 300px;
}
